
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# IDEs
/.idea/
/.vscode/
*.swp
*.swo

# Build/Java
/target/
**/bin/
!/bin/console
!/bin/phpunit
*.class
*.jar

# Logs/Cache
/var/
/.phpunit.cache/
