CREATE TABLE messenger_messages (id BIGINT AUTO_INCREMENT NOT NULL, body LONGTEXT NOT NULL, headers LONGTEXT NOT NULL, queue_name VARCHAR(190) NOT NULL, created_at DATETIME NOT NULL, available_at DATETIME NOT NULL, delivered_at DATETIME DEFAULT NULL, INDEX IDX_75EA56E0FB7336F0E3BD61CE16BA31DBBF396750 (queue_name, available_at, delivered_at, id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci`;
ALTER TABLE users CHANGE balance balance NUMERIC(10, 2) DEFAULT 0 NOT NULL;
ALTER TABLE action DROP FOREIGN KEY `FK_47CC8C92FBF509F1`;
ALTER TABLE action CHANGE prix_unitaire prix_unitaire NUMERIC(10, 2) NOT NULL;
DROP INDEX idx_47cc8c92fbf509f1 ON action;
CREATE INDEX IDX_47CC8C924E67DDD1 ON action (bourse_id);
ALTER TABLE action ADD CONSTRAINT `FK_47CC8C92FBF509F1` FOREIGN KEY (bourse_id) REFERENCES bourse (id_bourse);
ALTER TABLE investment_management DROP FOREIGN KEY `FK_MANAGEMENT_INVESTMENT`;
ALTER TABLE investment_management CHANGE created_at created_at DATETIME NOT NULL;
ALTER TABLE investment_management ADD CONSTRAINT FK_12369BDE6E1B4FD5 FOREIGN KEY (investment_id) REFERENCES investment (investment_id) ON DELETE CASCADE;
ALTER TABLE appel_offre CHANGE created_by_id created_by_id INT NOT NULL;
ALTER TABLE candidature DROP FOREIGN KEY `FK_E33BD3B8308E35F8`;
ALTER TABLE candidature CHANGE appel_offre_id appel_offre_id INT NOT NULL;
ALTER TABLE candidature ADD CONSTRAINT FK_E33BD3B8308E35F8 FOREIGN KEY (appel_offre_id) REFERENCES appel_offre (id) ON DELETE CASCADE;
ALTER TABLE transaction_bourse DROP FOREIGN KEY `FK_ABBFCE5C61FB397F`;
ALTER TABLE transaction_bourse DROP FOREIGN KEY `FK_ABBFCE5C6B3CA4B`;
ALTER TABLE transaction_bourse CHANGE prix_unitaire prix_unitaire NUMERIC(10, 2) NOT NULL, CHANGE montant_total montant_total NUMERIC(10, 2) NOT NULL, CHANGE commission commission NUMERIC(10, 2) NOT NULL;
DROP INDEX idx_abbfce5c61fb397f ON transaction_bourse;
CREATE INDEX IDX_ABBFCE5C9D32F035 ON transaction_bourse (action_id);
DROP INDEX idx_abbfce5c6b3ca4b ON transaction_bourse;
CREATE INDEX IDX_ABBFCE5CA76ED395 ON transaction_bourse (user_id);
ALTER TABLE transaction_bourse ADD CONSTRAINT `FK_ABBFCE5C61FB397F` FOREIGN KEY (action_id) REFERENCES action (id_action);
ALTER TABLE transaction_bourse ADD CONSTRAINT `FK_ABBFCE5C6B3CA4B` FOREIGN KEY (user_id) REFERENCES users (id);
ALTER TABLE quiz_result CHANGE lesson_id lesson_id INT DEFAULT NULL;
ALTER TABLE quiz_result ADD CONSTRAINT FK_FE2E314ACDF80196 FOREIGN KEY (lesson_id) REFERENCES lesson (id) ON DELETE SET NULL;
CREATE INDEX IDX_FE2E314ACDF80196 ON quiz_result (lesson_id);
ALTER TABLE formation CHANGE prix prix NUMERIC(10, 2) DEFAULT NULL;
ALTER TABLE action_news DROP FOREIGN KEY `FK_6B32225E61FB397F`;
ALTER TABLE action_news DROP FOREIGN KEY `FK_6B32225E61FB397F`;
ALTER TABLE action_news CHANGE impact_percent impact_percent NUMERIC(10, 2) NOT NULL;
ALTER TABLE action_news ADD CONSTRAINT FK_6B32225E9D32F035 FOREIGN KEY (action_id) REFERENCES action (id_action) ON DELETE CASCADE;
DROP INDEX idx_6b32225e61fb397f ON action_news;
CREATE INDEX IDX_6B32225E9D32F035 ON action_news (action_id);
ALTER TABLE action_news ADD CONSTRAINT `FK_6B32225E61FB397F` FOREIGN KEY (action_id) REFERENCES action (id_action);
ALTER TABLE cards ADD CONSTRAINT FK_4C258FDA76ED395 FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE;
CREATE INDEX IDX_4C258FDA76ED395 ON cards (user_id);
ALTER TABLE category ADD CONSTRAINT FK_64C19C1A76ED395 FOREIGN KEY (user_id) REFERENCES users (id);
CREATE INDEX IDX_64C19C1A76ED395 ON category (user_id);
ALTER TABLE investment_notification CHANGE id id INT AUTO_INCREMENT NOT NULL;
ALTER TABLE margin_loan CHANGE montant_emprunte montant_emprunte NUMERIC(10, 2) NOT NULL;
ALTER TABLE margin_loan ADD CONSTRAINT FK_B89DAA75A76ED395 FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE;
CREATE INDEX IDX_B89DAA75A76ED395 ON margin_loan (user_id);
ALTER TABLE notification_bourse DROP FOREIGN KEY `FK_1965424161FB397F`;
DROP INDEX idx_1965424161fb397f ON notification_bourse;
CREATE INDEX IDX_196542419D32F035 ON notification_bourse (action_id);
ALTER TABLE notification_bourse ADD CONSTRAINT `FK_1965424161FB397F` FOREIGN KEY (action_id) REFERENCES action (id_action) ON DELETE SET NULL;
ALTER TABLE rating DROP FOREIGN KEY `FK_D8892622308E35F8`;
ALTER TABLE rating ADD CONSTRAINT FK_D8892622308E35F8 FOREIGN KEY (appel_offre_id) REFERENCES appel_offre (id) ON DELETE CASCADE;
ALTER TABLE rating_centre DROP FOREIGN KEY `FK_E95280FD463CD7C3`;
ALTER TABLE rating_centre DROP FOREIGN KEY `FK_E95280FDA76ED395`;
ALTER TABLE rating_centre ADD CONSTRAINT FK_E95280FD463CD7C3 FOREIGN KEY (centre_id) REFERENCES centre_formation (id) ON DELETE CASCADE;
ALTER TABLE rating_centre ADD CONSTRAINT FK_E95280FDA76ED395 FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE;
ALTER TABLE recharge_requests CHANGE amount amount NUMERIC(10, 2) NOT NULL;
ALTER TABLE recharge_requests ADD CONSTRAINT FK_30C196BDA76ED395 FOREIGN KEY (user_id) REFERENCES users (id);
ALTER TABLE recharge_requests ADD CONSTRAINT FK_30C196BD4ACC9A20 FOREIGN KEY (card_id) REFERENCES cards (id) ON DELETE CASCADE;
CREATE INDEX IDX_30C196BDA76ED395 ON recharge_requests (user_id);
CREATE INDEX IDX_30C196BD4ACC9A20 ON recharge_requests (card_id);
ALTER TABLE transaction_wallet CHANGE montant montant NUMERIC(10, 2) NOT NULL, CHANGE user_id user_id INT DEFAULT NULL;
ALTER TABLE transaction_wallet ADD CONSTRAINT FK_A15E05FA76ED395 FOREIGN KEY (user_id) REFERENCES users (id);
CREATE INDEX IDX_A15E05FA76ED395 ON transaction_wallet (user_id);
ALTER TABLE user_api_key ADD CONSTRAINT FK_911FF397A76ED395 FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE;
CREATE INDEX IDX_911FF397A76ED395 ON user_api_key (user_id);
ALTER TABLE wishlist CHANGE price price NUMERIC(10, 2) NOT NULL;
ALTER TABLE wishlist ADD CONSTRAINT FK_9CE12A31A76ED395 FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE;
CREATE INDEX IDX_9CE12A31A76ED395 ON wishlist (user_id);
