/* ================= ROOT ================= */

.root {
    -fx-background-color: #f4f4f8; /* blanc très clair */
    -fx-font-family: "Segoe UI";
}

/* ================= CARD ================= */

.card {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-padding: 30;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 20, 0, 0, 5);
}

/* ================= LABELS ================= */

.title-label {
    -fx-text-fill: #6a0dad; /* violet */
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.label {
    -fx-text-fill: #444444;
}

/* ================= INPUTS ================= */

.text-field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #dcd6f7;
}

.text-field:focused {
    -fx-border-color: #8e44ad;
}

/* ================= COMBOBOX ================= */

.combo-box {
    -fx-background-color: white;
    -fx-text-fill: #333333;
    -fx-background-radius: 10;
    -fx-border-color: #dcd6f7;
}

/* ================= BUTTONS ================= */

.btn-purple {
    -fx-background-color: #8e44ad;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
}

.btn-purple:hover {
    -fx-background-color: #6a0dad;
}

.btn-light {
    -fx-background-color: #e8e3f8;
    -fx-text-fill: #6a0dad;
    -fx-background-radius: 10;
}

/* ================= DATE PICKER ================= */

.date-picker {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: #dcd6f7;
}

.date-picker .arrow-button {
    -fx-background-color: #8e44ad;
}

.date-picker .arrow {
    -fx-background-color: white;
}

/* ================= TABLEVIEW ================= */

.table-view {
    -fx-background-color: white;
    -fx-border-color: #dcd6f7;
}

.table-view .column-header-background {
    -fx-background-color: #8e44ad;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-row-cell {
    -fx-background-color: white;
    -fx-text-fill: #333333;
}

.table-row-cell:odd {
    -fx-background-color: #f3f0fa;
}

.table-row-cell:selected {
    -fx-background-color: #dcd6f7;
}

.table-cell {
    -fx-text-fill: #333333;
}

/* ================= SCROLL BAR ===============*/
.scroll-bar .thumb {
    -fx-background-color: #8e44ad;
    -fx-background-radius: 5;

}
