<div class="card p-4 shadow mt-4">

    <h4 class="mb-4">🚀 Services</h4>

    <div class="row text-center">

        <div class="col-md-4 mb-3">
            <a href="/bourse" class="btn btn-outline-primary w-100 p-3">
                📈 Bourse
            </a>
        </div>

        <div class="col-md-4 mb-3">
            <a href="/wallet" class="btn btn-outline-success w-100 p-3">
                💰 Wallet
            </a>
        </div>

        <div class="col-md-4 mb-3">
            <a href="/appel-offre" class="btn btn-outline-warning w-100 p-3">
                📢 Appel d'offre
            </a>
        </div>

        <div class="col-md-4 mb-3">
            <a href="/formation" class="btn btn-outline-info w-100 p-3">
                🎓 Formation
            </a>
        </div>

        <div class="col-md-4 mb-3">
            <a href="/investissement" class="btn btn-outline-dark w-100 p-3">
                🚀 Investissement
            </a>
        </div>

    </div>

</div>