<div class="row">

    <div class="col-md-4">
        <div class="card p-4 shadow">
            <h5>📈 Bourse</h5>
            <p>Track market trends</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-4 shadow">
            <h5>💼 Wallet</h5>
            <p>Manage your funds</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-4 shadow">
            <h5>💰 Invest</h5>
            <p>Grow your money</p>
        </div>
    </div>

</div>