<form method="post" action="{{ path('app_user_delete', {'id': user.id, 'role': app.request.query.get('role')}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button type="submit" class="btn btn-danger btn-block"
        onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')">
        <i class="fas fa-trash"></i> Supprimer
    </button>
</form>